@using ExpenseTracker.DAL.Utilities
@using ExpenseTracker.DAL.Models;
@{
    ViewData["Title"] = "Application Configuration";
}
@section Styles
    {

    <style>

    </style>
}
@section Scripts
    {
    <script>
        $("input[type=text]").change(function () {

            var AppSettingID = $(this).data("appid");
            var AppSettingValue = $(this).val();
            var selID = $(this).attr("id");

            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Settings/SetAppSetting?AppSettingID=" + AppSettingID + "&AppSettingValue=" + AppSettingValue, // Controller/View
                    success: function (successdata) {
                        if (successdata == 2) {
                            $("#" + selID).css("background-color", "lightgreen");

                            $.toast({
                                type: 'success',
                                title: 'Configuration',
                                subtitle: '5 sec ago',
                                content: '"Configuration saved successfully',
                                delay: 3000
                            });

                        }
                    }
                });//ajax


        });//textbox-change

    </script>

}
<div class="row">
<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">@ViewData["Title"]</h6>
            </div>
        </div>
        <div class="card-body p-3">
                <div class="table-responsive p-0">
            <table id="tblSettings" class="table table-hover table-striped" width="100%">
                <thead>
                    <tr>
                        <th style="width:30%">Configuration</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var data in (IEnumerable<AppSetting>)ViewData["AppSettings"])
                    {
                        <tr>
                            <td>@data.DisplayName</td>
                            <td>
                                <input data-appid="@data.AppSettingID" value="@data.AppSettingValue" type="text" class="form-control" id="setdata@(data.AppSettingID)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            </div>
    </div>
</div>
</div>
