<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fba2fc46-15f0-4a9c-af17-a8959fba793f/resourcegroups/rgSurajLinux/providers/Microsoft.Web/sites/restmanager</ResourceId>
    <ResourceGroup>rgSurajLinux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://restmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b76ba6f1-19a4-47b7-8040-c488de3a0d33</ProjectGuid>
    <PublishUrl>https://restmanager.scm.azurewebsites.net/</PublishUrl>
    <UserName>$restmanager</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>