@using ExpenseTracker.DAL.Utilities
@using ExpenseTracker.DAL.Models;
@{
    ViewData["Title"] = "Dashboard";
}
@section Styles
    {
        <style>
        .bg-1 {
            background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
        }

        .bg-2 {
            background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
        }

        .bg-3 {
            background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
        }

        .bg-4 {
            background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
        }

        .bg-5 {
            background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
        }

        .bg-6 {
            background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
        }
        </style>
       
    }
@section Scripts
    {
    <script src="@Url.Content("~/assets/js/plugins/chartjs.min.js")"></script>
    @foreach (var data in (IEnumerable<OrgUnitView>)ViewData["OrgUnits"])
{
    <script>

        var ctx2 = document.getElementById("chart_@data.OrgUnitID").getContext("2d");

        new Chart(ctx2, {
            type: "line",
            data: {
                    labels: [ "S","M", "T", "W", "T", "F", "S"],
                datasets: [{
                    label: "Sales",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(255, 255, 255, .8)",
                    pointBorderColor: "transparent",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: [50, 40, 300, 320, 500, 350, 200],
                    maxBarThickness: 6

                },
                    {
                        label: "Purchases",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 3,
                        pointBackgroundColor: "rgba(0, 0, 0, .8)",
                        pointBorderColor: "transparent",
                        borderColor: "rgba(0, 0, 0, .8)",
                        borderWidth: 2,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [100, 200, 300, 220, 120, 110, 180],
                        maxBarThickness: 6

                    }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });

    </script>
    }
}

<div class="row">
      @foreach (var data in (IEnumerable<OrgUnitView>)ViewData["OrgUnits"])
                    {
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-@data.OrgUnitID shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                        <canvas id="chart_@data.OrgUnitID" class="chart-canvas" height="170"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 "> @data.OrgUnitName </h6>
                <hr class="dark horizontal">
                <div class="row">
                        <div class="col-md-6">
                            <p class="text-sm mb-0 text-capitalize">Yesterday's Sales</p>
                            <h4 class="mb-0">₹2,300</h4>
                        </div>
                        <div class="col-md-6">
                            <p class="text-sm mb-0 text-capitalize text-end">Yesterday's Purchases</p>
                            <h4 class="mb-0 text-end">₹2,300</h4>
                        </div>
                </div>
            </div>
        </div>
    </div>
    }

    
</div>
